:root {
    --gray: #333333;
    --gray-hover: #4f4f4f;
    --light-gray: #bdbdbd;
}

body {
    height: 100vh;
    padding: 24px;
    display: grid;
    align-content: space-between;
}

.encabezado {
    font-family: "Inconsolata", monospace;
    font-size: 24px;
    font-weight: 700;
    color: var(--gray);
}

.contenido {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenido > * {
    margin: 20px 0;
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 48px;
    font-weight: 700;
    color: var(--gray);
}

p {
    font-family: "Space Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    color: var(--gray);
}

a {
    align-self: center;
    display: block;
    text-decoration: none;
    width: max-content;
    border-radius: 10px;
}

a > div {
    font-family: "Space Mono", monospace;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--gray);
    padding: 25px;
    color: white;
    border-radius: 10px;
}

a:hover > div {
    background-color: var(--gray-hover);
    transition-property: background-color;
    transition-duration: 1s;
}

footer {
    color: var(--light-gray);
    font-family: "Space Mono", monospace;
    font-size: 14px;
}

footer > span {
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (min-width: 900px) {
    .contenedor {
        display: flex;
        width: 100%;
    }
    .contenido {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: minmax(500px, 700px) 400px;
        grid-template-rows: 100px max-content max-content max-content 1fr;
        margin: auto;
    }

    .contenido > img {
        grid-row: 1 / 6;
    }

    .contenido > h1 {
        grid-row: 2 / 3;
    }
    .contenido > p {
        grid-row: 3 / 4;
    }
    .contenido > a {
        grid-row: 4 / 5;
    }
}
